.jumbotron{background: yellow;color: black;margin-top: 50px;}
.card-hotel{flex: 1 200px;margin-top: 10px;}
.btn-reserva{width: 100%;}
.footer{padding: 10px 10px 0;margin-top: 15px;
    background: yellow;margin-bottom: 0px;}