.bg-dark {
  background: #0e4213 !important; }

.jumbotron {
  background: #b2b023;
  color: black;
  margin-top: 50px; }

.breadcrumb {
  background: #b01818; }

.breadcrumb-item.active {
  color: #fff; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%; }

.footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  padding-left: 10px;
  background: #b2b023;
  margin-top: 15px;
  margin-bottom: 0px; }

/*# sourceMappingURL=style.css.map */
