$yellow:#b2b023;
$rojo:#b01818;
$verde:#0e4213;
$biacolor:#fff;
@mixin color($color){
    color: $color;
}
@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}
@mixin padding($top, $right, $bottom, $left){
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}
.bg-dark {background: $verde!important;}
.jumbotron{background: $yellow;color: black;margin-top: 50px;}
.breadcrumb{background: $rojo;}
.breadcrumb-item.active {@include color($biacolor);}
.card-hotel{flex: 1 200px;margin-top: 10px;}
.btn-reserva{width: 100%;}
.footer{@include padding(10px, 10px, 2px, 10px);
    background:$yellow;@include margenes(15px, 0px);}