@yellow:#efeeb8;
@rojo:#b01818;
@verde:#0e4213;
@biacolor:#fff;
.color(@color){
    color: @color;
}
.margin(@top, @bottom){
    margin-top: @top;
    margin-bottom: @bottom;
}
.padding(@top, @right, @bottom, @left){
    padding-top: @top;
    padding-right: @right;
    padding-bottom: @bottom;
    padding-left: @left;
}
.bg-dark {background: @verde!important;}
.jumbotron{background: @yellow;color: black;margin-top: 50px;}
.breadcrumb{background: @rojo;}
.breadcrumb-item.active {.color(@biacolor);}
.card-hotel{flex: 1 200px;margin-top: 10px;}
.btn-reserva{width: 100%;}
.footer{.padding(10px, 10px, 0px, 10px);
    background:@yellow;.margin(15px, 0px);}